extends partials/base.pug

block title 
    h1=video.title
block content
    div 
        p=video.description
        small=video.createdAt
    br
    a(href=`${video.id}/edit`) Edit Video&rarr;
    br
    a(href=`${video.id}/delete`) Delete Video&rarr;